[Unit]
Description=Cloudflare Auto DNS Register Script
After=network-online.target mariadb.service
Requires=network-online.target mariadb.service

[Service]
ExecStart=/usr/bin/java -jar /home/hanwool/AutoDnsRegister/AutoDnsRegisterScript.jar

[Install]
WantedBy=multi-user.target
