[Unit]
Description=Cloudflare Auto DNS Register Script
After=network-online.target mariadb.service home.mount
Requires=network-online.target mariadb.service home.mount

[Service]
Type=oneshot
ExecStart=/usr/bin/node /home/hanwool/AutoDnsRegister/main.js
